/* .box {
    background-color: #DCDCDC;
    text-align: center;
    height: 100px;
    font-size: 46px;
    /* color: #d5c80abd;    */
    /* color: rgb(245 245 245); */
    /* color: #85c506d0;
    font-weight: bold; 
}

img{
    width: 100px;
    height: 80px;
}
   */
body {
    /* background: #f3f1f1; */
    background-color: #a9a7a7;
    /* background-color: #F5F5F5; */
    margin: 0;
    padding: 0;
}
  .box {
    background-color: yellow;
    text-align: center;
    height: 80px;
    font-size: 46px;
    /* color: #79b306d0; */
    color: black;
    font-weight: bold; 
    position: relative;
}

img {
    width: 100px;
    height: 80px;
    position: absolute; 
    top: 0; 
    left: 0; 
    border-radius: 50%;
    
}